{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": [
    "simple-import-sort"
  ],
  "rules": {
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "react/self-closing-comp": "warn",
    "@typescript-eslint/member-delimiter-style": "warn",
    "@typescript-eslint/no-explicit-any": [
      "warn"
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "no-console": "warn",
    "import/no-anonymous-default-export": "off"
  }
}